<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AI Job Interview Coach Pro Staging API">
    <test verbose="2" preserve-order="true" name="C:\Users\visha\IdeaProjects\AI Job Interview Coach Pro - Staging">
        <classes>
            <!--            <class name="CreateUser">-->
            <!--                <methods>-->
            <!--                    <include name="CreateAccount_POST"/>-->
            <!--                    <include name="ResendEmailVerification_POST"/>-->
            <!--                    <include name="ResetPassword_POST"/>-->
            <!--                </methods>-->
            <!--            </class>-->
            <!--            <class name="ChangePassword">-->
            <!--                <methods>-->
            <!--                    <include name="LoginUser_POST"/>-->
            <!--                    <include name="ChangePassword_POST"/>-->
            <!--                    <include name="DeleteUser_DELETE"/>-->
            <!--                </methods>-->
            <!--            </class>-->
            <class name="Auth">
                <methods>
                    <include name="LoginUser_POST"/>
                    <include name="UserDetails_GET"/>
                    <include name="LogoutUser_POST"/>
                </methods>
            </class>
            <class name="Interview">
                <methods>
                    <include name="LoginUser_POST"/>
                    <include name="InterviewList_GET"/>
                    <include name="InterviewerDetails_GET"/>
                    <include name="ChatWithPersona_POST"/>
                    <include name="GetQuestionFeedback_POST"/>
                    <include name="AddAnswer_POST"/>
                    <include name="EndInterviewChat_POST"/>
                    <include name="AllSavedQAList_GET"/>
                    <include name="SaveQuestionAnswer_POST"/>
                    <include name="EditSavedAnswer_PUT"/>
                    <include name="RecentInterviews_GET"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>